<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rat</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="#">Rat Jobs</a>
            </li>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Careers</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </nav>
    
    <main>
        <h1>Rat Jobs</h1>

        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste sapiente unde ipsum ea nobis enim perspiciatis voluptatibus praesentium nulla harum aliquam, repellat tenetur voluptatem doloremque debitis, ex architecto. Tempore, ipsam!
        </p>
    </main>
</body>
</html>

